#new-user{ :style => 'display: none' }= t :help_user_add

%h2= t :title_users

%table.table.table-striped.table-hover
  = render :partial => 'user', :collection => @users

= link_to t(:label_user_create), new_user_path, class:"btn btn-primary"
